In [31]:
import pandas as pd
import numpy as np

In [32]:
total = pd.read_csv("../기상청공모전/data/total_data.csv")
total.head()

,num,time,latitude,longitude,sog,cog,hdg,anchor_drag
0,1001,2021-01-03 11:08:37,35.461190,129.438732,0.6,102.9,343.0,0
1,1001,2021-01-03 11:11:36,35.461160,129.439545,0.9,70.6,299.0,0
2,1001,2021-01-03 11:14:38,35.461472,129.439878,0.4,9.6,273.0,0
3,1001,2021-01-03 11:17:33,35.461688,129.439792,0.2,328.0,267.0,0
4,1001,2021-01-03 11:20:37,35.461708,129.439733,0.2,260.1,265.0,0

In [33]:
total['time_gap'] = total['time']

In [41]:
for i in range(1,len(total)):
    total['time_gap'][i] = (pd.to_datetime(total['time'][i]) - pd.to_datetime(total['time'][i-1])).total_seconds()

C:\Users\ekdls\AppData\Local\Temp\ipykernel_15776\256372557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total['time_gap'][i] = (pd.to_datetime(total['time'][i]) - pd.to_datetime(total['time'][i-1])).total_seconds()

In [72]:
total

,num,time,latitude,longitude,sog,cog,hdg,anchor_drag,time_gap
0,1001,2021-01-03 11:08:37,35.461190,129.438732,0.6,102.9,343.0,0,181.0
1,1001,2021-01-03 11:11:36,35.461160,129.439545,0.9,70.6,299.0,0,179.0
2,1001,2021-01-03 11:14:38,35.461472,129.439878,0.4,9.6,273.0,0,182.0
3,1001,2021-01-03 11:17:33,35.461688,129.439792,0.2,328.0,267.0,0,175.0
4,1001,2021-01-03 11:20:37,35.461708,129.439733,0.2,260.1,265.0,0,184.0
...,...,...,...,...,...,...,...,...,...
682471,4087,2022-05-07 20:25:00,35.053083,129.061333,1.3,26.0,97.0,1,0.0
682472,4087,2022-05-07 20:25:00,35.053083,129.061333,1.3,29.0,99.0,1,0.0
682473,4087,2022-05-07 20:26:00,35.053117,129.061400,1.2,48.0,106.0,1,60.0
682474,4087,2022-05-07 20:26:00,35.053117,129.061417,1.2,52.0,108.0,1,0.0
682475,4087,2022-05-07 20:26:00,35.053133,129.061500,1.2,80.0,116.0,1,0.0

In [77]:
total1 = total
total1['time_gap'] = 0

In [81]:
for i in range(1, len(total1)):
    if total1.loc[i, 'time_gap'] == 0:
        dt = (pd.to_datetime(total1.loc[i, 'time']) - pd.to_datetime(total1.loc[i-1, 'time'])).total_seconds()
        if dt != 0:
            total1.loc[i, 'time_gap'] = dt
        else:
            a = total1.loc[(total1['num'] == total1.loc[i, 'num']) & (total1['time'] == total1.loc[i, 'time'])].index.tolist()
            total1.loc[a, 'time_gap'] = 1 / len(a)

# 결과 출력
print(total1)

         num                 time   latitude   longitude  sog    cog    hdg  \
0       1001  2021-01-03 11:08:37  35.461190  129.438732  0.6  102.9  343.0
1       1001  2021-01-03 11:11:36  35.461160  129.439545  0.9   70.6  299.0
2       1001  2021-01-03 11:14:38  35.461472  129.439878  0.4    9.6  273.0
3       1001  2021-01-03 11:17:33  35.461688  129.439792  0.2  328.0  267.0
4       1001  2021-01-03 11:20:37  35.461708  129.439733  0.2  260.1  265.0
...      ...                  ...        ...         ...  ...    ...    ...
682471  4087  2022-05-07 20:25:00  35.053083  129.061333  1.3   26.0   97.0
682472  4087  2022-05-07 20:25:00  35.053083  129.061333  1.3   29.0   99.0
682473  4087  2022-05-07 20:26:00  35.053117  129.061400  1.2   48.0  106.0
682474  4087  2022-05-07 20:26:00  35.053117  129.061417  1.2   52.0  108.0
682475  4087  2022-05-07 20:26:00  35.053133  129.061500  1.2   80.0  116.0

        anchor_drag    time_gap
0                 0    0.000000
1                 0  179.000000
2                 0  182.000000
3                 0  175.000000
4                 0  184.000000
...             ...         ...
682471            1    0.142857
682472            1    0.142857
682473            1    0.333333
682474            1    0.333333
682475            1    0.333333

[682476 rows x 9 columns]