In [1]:
pip install haversine

Requirement already satisfied: haversine in c:\users\ekdls\anaconda3\lib\site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from haversine import haversine

In [3]:
total = pd.read_csv("../기상청공모전/data/total_time_gap.csv")
total.head()

,Unnamed: 0,num,time,latitude,longitude,sog,cog,hdg,anchor_drag,time_gap
0,0,1001,2021-01-03 11:08:37,35.461190,129.438732,0.6,102.9,343.0,0,0.0
1,1,1001,2021-01-03 11:11:36,35.461160,129.439545,0.9,70.6,299.0,0,179.0
2,2,1001,2021-01-03 11:14:38,35.461472,129.439878,0.4,9.6,273.0,0,182.0
3,3,1001,2021-01-03 11:17:33,35.461688,129.439792,0.2,328.0,267.0,0,175.0
4,4,1001,2021-01-03 11:20:37,35.461708,129.439733,0.2,260.1,265.0,0,184.0

In [4]:
for i in range(1, len(total)):
    total.loc[i, 'km/s'] = haversine((total.loc[i, 'latitude'],total.loc[i, 'longitude']),(total.loc[i-1, 'latitude'],total.loc[i-1, 'longitude']),unit = 'km') / total.loc[i, 'time_gap']

In [5]:
for i in range(2, len(total)):
    total.loc[i, 'km/s_2'] = (total.loc[i, 'km/s'] - total.loc[i-1, 'km/s']) / total.loc[i,'time_gap']

In [6]:
total

,Unnamed: 0,num,time,latitude,longitude,sog,cog,hdg,anchor_drag,time_gap,km/s,km/s_2
0,0,1001,2021-01-03 11:08:37,35.461190,129.438732,0.6,102.9,343.0,0,0.000000,NaN,NaN
1,1,1001,2021-01-03 11:11:36,35.461160,129.439545,0.9,70.6,299.0,0,179.000000,0.000412,NaN
2,2,1001,2021-01-03 11:14:38,35.461472,129.439878,0.4,9.6,273.0,0,182.000000,0.000253,-8.747217e-07
3,3,1001,2021-01-03 11:17:33,35.461688,129.439792,0.2,328.0,267.0,0,175.000000,0.000144,-6.188377e-07
4,4,1001,2021-01-03 11:20:37,35.461708,129.439733,0.2,260.1,265.0,0,184.000000,0.000031,-6.131913e-07
...,...,...,...,...,...,...,...,...,...,...,...,...
682471,682471,4087,2022-05-07 20:25:00,35.053083,129.061333,1.3,26.0,97.0,1,0.142857,0.027635,-1.183456e-01
682472,682472,4087,2022-05-07 20:25:00,35.053083,129.061333,1.3,29.0,99.0,1,0.142857,0.000000,-1.934473e-01
682473,682473,4087,2022-05-07 20:26:00,35.053117,129.061400,1.2,48.0,106.0,1,0.333333,0.021527,6.457980e-02
682474,682474,4087,2022-05-07 20:26:00,35.053117,129.061417,1.2,52.0,108.0,1,0.333333,0.004642,-5.065274e-02
682475,682475,4087,2022-05-07 20:26:00,35.053133,129.061500,1.2,80.0,116.0,1,0.333333,0.023286,5.592959e-02

In [7]:
# 각 배 번호의 1번째 2번째 삭제
ship_num_busan = total['num'].unique()

_drop_busan = []
for i in ship_num_busan:
    k = total[total["num"] == i].index[0]
    _drop_busan.append(k)
    k += 1
    _drop_busan.append(k)
    
total = total[~total.index.isin(_drop_busan)].reset_index(drop=True)

In [8]:
total = total[['num', 'time', 'latitude', 'longitude', 'sog', 'cog', 'hdg', 'time_gap', 'km/s', 'km/s_2', 'anchor_drag']]
total.columns = ['num', 'time', 'latitude', 'longitude', 'sog', 'cog', 'hdg', 'time_gap', 'd_km/s', 'dd_km/s', 'anchor_drag']

In [9]:
total

,num,time,latitude,longitude,sog,cog,hdg,time_gap,d_km/s,dd_km/s,anchor_drag
0,1001,2021-01-03 11:14:38,35.461472,129.439878,0.4,9.6,273.0,182.000000,0.000253,-8.747217e-07,0
1,1001,2021-01-03 11:17:33,35.461688,129.439792,0.2,328.0,267.0,175.000000,0.000144,-6.188377e-07,0
2,1001,2021-01-03 11:20:37,35.461708,129.439733,0.2,260.1,265.0,184.000000,0.000031,-6.131913e-07,0
3,1001,2021-01-03 11:23:37,35.461720,129.439708,0.1,262.8,270.0,180.000000,0.000015,-9.363867e-08,0
4,1001,2021-01-03 11:26:38,35.461733,129.439717,0.3,277.6,273.0,181.000000,0.000009,-3.001225e-08,0
...,...,...,...,...,...,...,...,...,...,...,...
681435,4087,2022-05-07 20:25:00,35.053083,129.061333,1.3,26.0,97.0,0.142857,0.027635,-1.183456e-01,1
681436,4087,2022-05-07 20:25:00,35.053083,129.061333,1.3,29.0,99.0,0.142857,0.000000,-1.934473e-01,1
681437,4087,2022-05-07 20:26:00,35.053117,129.061400,1.2,48.0,106.0,0.333333,0.021527,6.457980e-02,1
681438,4087,2022-05-07 20:26:00,35.053117,129.061417,1.2,52.0,108.0,0.333333,0.004642,-5.065274e-02,1
681439,4087,2022-05-07 20:26:00,35.053133,129.061500,1.2,80.0,116.0,0.333333,0.023286,5.592959e-02,1

In [10]:
total.to_csv('../기상청공모전/total_ddist_dt.csv')