In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 울산

In [15]:
ulsan_drag_train_final = pd.read_csv("../기상청공모전/data/ulsan_drag_train_final.csv",encoding = "utf-8", index_col=0)
ulsan_answer = pd.read_csv("../기상청공모전/data/ulsan_answer.csv",encoding = "utf-8", index_col=0)

In [16]:
i_col = list(ulsan_drag_train_final['ulsan_drag_train_final.num'].unique())

In [17]:
anchor_drag = [0 for i in range(len(i_col))]
len(anchor_drag)

163

In [18]:
ulsan = ulsan_drag_train_final.copy()

In [19]:
col_name ={'ulsan_drag_train_final.num':'num',
      'ulsan_drag_train_final.time':'time',
      'ulsan_drag_train_final.latitude':'latitude',
      'ulsan_drag_train_final.longitude':'longitude',
      'ulsan_drag_train_final.sog':'sog',
      'ulsan_drag_train_final.cog':'cog',
      'ulsan_drag_train_final.hdg':'hdg'}

In [20]:
ulsan.rename(columns=col_name, inplace=True)

ulsan.latitude = ulsan.latitude.str[2:-1]
ulsan.longitude = ulsan.longitude.str[2:-1]

ulsan = ulsan.astype({'latitude':'float','longitude':'float'})

In [21]:
ulsan.time = ulsan.time.str[1:-1]
ulsan.time = pd.to_datetime(ulsan.time)

In [22]:
ulsan['anchor_drag'] = 0
ulsan.head()

   num                time   latitude   longitude  sog   cog  hdg  anchor_drag
1    1 2021-02-14 14:37:11  35.433233  129.458967  0.2  60.0  204            0
2    1 2021-02-14 14:37:21  35.433233  129.458983  0.2  53.0  204            0
3    1 2021-02-14 14:37:33  35.433250  129.459000  0.2  45.0  203            0
4    1 2021-02-14 14:37:42  35.433250  129.459000  0.2  44.0  203            0
5    1 2021-02-14 14:37:52  35.433267  129.459017  0.2  41.0  203            0

In [23]:
uanswer = ulsan_answer.copy()
uanswer['ulsan_answer.lat'] = uanswer['ulsan_answer.lat'].str[2:-1]
uanswer['ulsan_answer.lon'] = uanswer['ulsan_answer.lon'].str[2:-1]
uanswer = uanswer.astype({'ulsan_answer.lat':'float','ulsan_answer.lon':'float'})
uanswer

,ulsan_answer.area,ulsan_answer.year,ulsan_answer.num,ulsan_answer.mon,ulsan_answer.day,ulsan_answer.hour,ulsan_answer.min,ulsan_answer.lat,ulsan_answer.lon
1,"""ULSAN""",2021,1,2,15,18,41,35.431217,129.463167
2,"""ULSAN""",2021,2,2,21,14,56,35.453320,129.460868
3,"""ULSAN""",2021,3,2,21,21,58,35.450960,129.451685
4,"""ULSAN""",2021,4,2,26,10,5,35.464458,129.437290
5,"""ULSAN""",2021,5,2,26,13,59,35.427322,129.438455
...,...,...,...,...,...,...,...,...,...
159,"""ULSAN""",2022,159,6,24,5,0,35.402315,129.445585
160,"""ULSAN""",2022,160,6,24,5,2,35.457910,129.423162
161,"""ULSAN""",2022,161,6,24,5,48,35.449315,129.438187
162,"""ULSAN""",2022,162,6,24,5,26,35.400015,129.464617
163,"""ULSAN""",2022,163,6,24,6,33,35.444952,129.415232

In [24]:
nowhere_ulsan = []
for i in i_col:
    col = uanswer[uanswer['ulsan_answer.num']==i]
    n_df = ulsan[(ulsan['latitude']==col['ulsan_answer.lat'].values[0])&(ulsan['longitude']==col['ulsan_answer.lon'].values[0])]
    if len(n_df.index)==0:
        nowhere_ulsan.append(i)
print(nowhere_ulsan)

[38, 51]

In [25]:
for i in i_col:
    col = uanswer[uanswer['ulsan_answer.num']==i]
    
    if i in nowhere_ulsan:                       
        n_df = ulsan[(ulsan.num==i)&
                     (ulsan.time.dt.year == col['ulsan_answer.year'].values[0])&
                     (ulsan.time.dt.month == col['ulsan_answer.mon'].values[0])&
                     (ulsan.time.dt.day == col['ulsan_answer.day'].values[0])&
                     (ulsan.time.dt.hour == col['ulsan_answer.hour'].values[0])&
                     (ulsan.time.dt.minute == col['ulsan_answer.min'].values[0])]
        start = n_df.index[0]
        
    else:
        n_df = ulsan[(ulsan['latitude']==col['ulsan_answer.lat'].values[0])&
                                      (ulsan['longitude']==col['ulsan_answer.lon'].values[0])]
        start = n_df.index[0]
        
    end = ulsan[ulsan['num']==i].index[-1]
    
    ulsan.loc[start:end, 'anchor_drag']=1

In [26]:
ulsan.to_csv('../기상청공모전/data/ulsan_drag&answer.csv', encoding = "utf-8", index=False)

## 부산

In [2]:
busan_drag_train_final = pd.read_csv("../기상청공모전/data/busan_drag_train_final.csv",encoding = "utf-8", index_col=0)
busan_answer = pd.read_csv("../기상청공모전/data/busan_answer.csv",encoding = "utf-8", index_col=0)

In [3]:
busan = busan_drag_train_final.copy()
banswer = busan_answer.copy()

In [4]:
col_name ={'busan_drag_train_final.num':'num',
      'busan_drag_train_final.time':'time',
      'busan_drag_train_final.latitude':'latitude',
      'busan_drag_train_final.longitude':'longitude',
      'busan_drag_train_final.sog':'sog',
      'busan_drag_train_final.cog':'cog',
      'busan_drag_train_final.hdg':'hdg'}

In [5]:
busan.rename(columns=col_name, inplace=True)

busan.latitude = busan.latitude.str[2:-1]
busan.longitude = busan.longitude.str[2:-1]

busan = busan.astype({'latitude':'float','longitude':'float'})

In [6]:
banswer['busan_answer.lat'] = banswer['busan_answer.lat'].str[2:-1]
banswer['busan_answer.lon'] = banswer['busan_answer.lon'].str[2:-1]

banswer = banswer.astype({'busan_answer.lat':'float','busan_answer.lon':'float'})

In [7]:
busan.time = busan.time.str[1:-1]
busan.time = pd.to_datetime(busan.time)

In [8]:
i_col2 = list(busan['num'].unique())

In [9]:
anchor_drag2 = [0 for i in range(len(i_col2))]
len(anchor_drag2)

87

In [10]:
busan['anchor_drag'] = 0

In [11]:
nowhere_busan = []
for i in i_col2:
    col = banswer[banswer['busan_answer.num']==i]
    n_df = busan[(busan['latitude']==col['busan_answer.lat'].values[0])&(busan['longitude']==col['busan_answer.lon'].values[0])]
    if len(n_df.index)==0:
        nowhere_busan.append(i)
print(nowhere_busan)

[19, 22, 36]

In [12]:
for i in i_col2:
    col = banswer[banswer['busan_answer.num']==i]
    
    if i in nowhere_busan:
        n_df = busan[(busan.num==i)&
                     (busan.time.dt.year == col['busan_answer.year'].values[0])&
                     (busan.time.dt.month == col['busan_answer.mon'].values[0])&
                     (busan.time.dt.day == col['busan_answer.day'].values[0])&
                     (busan.time.dt.hour == col['busan_answer.hour'].values[0])&
                     (busan.time.dt.minute == col['busan_answer.min'].values[0])]
        start = n_df.index[0]
        
    else:
        n_df = busan[(busan['latitude']==col['busan_answer.lat'].values[0])&
                              (busan['longitude']==col['busan_answer.lon'].values[0])]
        start = n_df.index[0]
    
    end = busan[busan['num']==i].index[-1]
    
    busan.loc[start:end, 'anchor_drag']=1

In [13]:
busan.to_csv('../기상청공모전/data/busan_drag&answer.csv', encoding = "utf-8", index=False)

In [28]:
ulsan[ulsan.num==51]

,num,time,latitude,longitude,sog,cog,hdg,anchor_drag
76134,51,2021-05-02 07:41:00,35.481687,129.401042,0.2,175.4,323,0
76135,51,2021-05-02 07:41:00,35.481680,129.401033,0.2,179.6,324,0
76136,51,2021-05-02 07:41:00,35.481672,129.401032,0.1,185.3,324,0
76137,51,2021-05-02 07:41:00,35.481663,129.401025,0.2,195.2,325,0
76138,51,2021-05-02 07:41:00,35.481663,129.401018,0.2,205.3,325,0
...,...,...,...,...,...,...,...,...
90539,51,2021-05-04 01:59:00,35.482608,129.400968,0.0,324.5,225,1
90540,51,2021-05-04 01:59:00,35.482607,129.400970,0.0,324.5,225,1
90541,51,2021-05-04 01:59:00,35.482605,129.400972,0.1,324.5,225,1
90542,51,2021-05-04 01:59:00,35.482602,129.400975,0.1,324.5,225,1
90543,51,2021-05-04 01:59:00,35.482600,129.400975,0.1,324.5,226,1